.profile{
    height: 100vh;
    color: white;
}

.profile__body{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
  
}

.profile__body > h3 {
    font-size: 80px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;  
}

.profile__info{
    display: flex;   
}

.profile__info > img{
    height: 80px;
    width: 80px;
    margin-top: 12px;

}

.profile__details{
    color: white;
    margin-left: 25px;
    flex: 1;
}

.profile__details > h4{
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
    border-radius: 5px;
    margin-top: 12px;
}

.profile__plans {
    margin-top: 20px;
}

.profile__plans > h4 {
    border-bottom: 1px solid #282c2d;
}


.profile__signOut{
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}